<!DOCTYPE html>
<html lang="en">
  <%- include("../components/head") %>

  <body id="top" class="light">
    <%- include("../components/header", { isPersistentLoggedIn:
    isPersistentLoggedIn, dashboardLoginPersistentValue:
    dashboardLoginPersistentValue }) %>

    <main>
      <article>
        <!-- All Data Section -->
        <section
          class="section post post-phone"
          aria-label="post"
          id="recent-post"
        >
          <div class="container">
            <h2 class="headline headline-2 section-title">
              <span class="span">2018 Data</span>
            </h2>

            <p class="section-text">
              كل من حصل على مركز بمسابقات الكرازه لعام 2018
            </p>
            <ul class="post-list">
              <% yearData.arr2018.forEach(item2018 => { %>
              <li>
                <div class="card post-card">
                  <figure
                    class="card-banner img-holder"
                    style="--width: 600; --height: 600"
                  >
                    <img
                      src="<%- item2018.image || '/images/blank-photo.png' %>"
                      width="600"
                      height="600"
                      loading="lazy"
                      alt="<%- item2018.name %>"
                      class="img-cover"
                      onerror="replaceWithErrorImage(this)"
                    />
                  </figure>

                  <div class="card-content">
                    <div class="card-wrapper">
                      <div class="card-tag">
                        <p class="span hover-2"><%- item2018.rank %></p>
                      </div>
                    </div>

                    <h3 class="headline headline-3">
                      <a
                        href="<%- item2018.social %>"
                        class="card-title hover-2"
                        style="font-family: var(--fontFamily-noto_sans_arabic)"
                      >
                        <%- item2018.name %>
                      </a>
                    </h3>

                    <div class="card-wrapper">
                      <div class="profile-card">
                        <div>
                          <p class="card-title"><%- item2018.competition %></p>

                          <p class="card-subtitle"><%- item2018.edu %></p>
                        </div>
                      </div>
                      <div>
                        <button
                          class="button delete-button"
                          data-id="<%- item2018.id %>"
                          style="margin-bottom: 10px"
                        >
                          <i class="fa-solid fa-trash-can"></i>
                        </button>
                        <a
                          class="edit-button"
                          href="/dash/edit/<%- item2018.id %>"
                        >
                          <i class="fa-solid fa-pen-to-square"></i>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
              <% }); %>
            </ul>
          </div>
        </section>

        <section
          class="section post post-phone"
          aria-label="post"
          id="recent-post"
        >
          <div class="container">
            <h2 class="headline headline-2 section-title">
              <span class="span">2019 Data</span>
            </h2>

            <p class="section-text">
              كل من حصل على مركز بمسابقات الكرازه لعام 2019
            </p>

            <ul class="post-list">
              <% yearData.arr2019.forEach(item2019 => { %>
              <li>
                <div class="card post-card">
                  <figure
                    class="card-banner img-holder"
                    style="--width: 600; --height: 600"
                  >
                    <img src="<%- item2019.image || '/images/blank-photo.png'
                    %>" width="600" height="600" loading="lazy" alt="<%-
                    item2019.name%>"" class="img-cover"
                    onerror="replaceWithErrorImage(this)" />
                  </figure>

                  <div class="card-content">
                    <div class="card-wrapper">
                      <div class="card-tag">
                        <p class="span hover-2"><%- item2019.rank %></p>
                      </div>
                    </div>

                    <h3 class="headline headline-3">
                      <a
                        href="<%- item2019.social %>"
                        class="card-title hover-2"
                        style="font-family: var(--fontFamily-noto_sans_arabic)"
                      >
                        <%- item2019.name %>
                      </a>
                    </h3>

                    <div class="card-wrapper">
                      <div class="profile-card">
                        <div>
                          <p class="card-title"><%- item2019.competition %></p>

                          <p class="card-subtitle"><%- item2019.edu %></p>
                        </div>
                      </div>
                      <div>
                        <button
                          class="button delete-button"
                          data-id="<%- item2019.id %>"
                          style="margin-bottom: 10px"
                        >
                          <i class="fa-solid fa-trash-can"></i>
                        </button>
                        <a
                          class="edit-button"
                          href="/dash/edit/<%- item2019.id %>"
                        >
                          <i class="fa-solid fa-pen-to-square"></i>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
              <% }); %>
            </ul>
          </div>
        </section>

        <section
          class="section post post-phone"
          aria-label="post"
          id="recent-post"
        >
          <div class="container">
            <h2 class="headline headline-2 section-title">
              <span class="span">2020 Data</span>
            </h2>

            <p class="section-text">
              كل من حصل على مركز بمسابقات الكرازه لعام 2020
            </p>

            <ul class="post-list">
              <% yearData.arr2020.forEach(item2020 => { %>
              <li>
                <div class="card post-card">
                  <figure
                    class="card-banner img-holder"
                    style="--width: 600; --height: 600"
                  >
                    <img
                      src="<%- item2020.image || '/images/blank-photo.png'  %>"
                      width="600"
                      height="600"
                      loading="lazy"
                      alt="<%- item2020.name %>"
                      class="img-cover"
                      onerror="replaceWithErrorImage(this)"
                    />
                  </figure>

                  <div class="card-content">
                    <div class="card-wrapper">
                      <div class="card-tag">
                        <p class="span hover-2"><%- item2020.rank %></p>
                      </div>
                    </div>

                    <h3 class="headline headline-3">
                      <a
                        href="<%- item2020.social %>"
                        class="card-title hover-2"
                        style="font-family: var(--fontFamily-noto_sans_arabic)"
                      >
                        <%- item2020.name %>
                      </a>
                    </h3>

                    <div class="card-wrapper">
                      <div class="profile-card">
                        <div>
                          <p class="card-title"><%- item2020.competition %></p>

                          <p class="card-subtitle"><%- item2020.edu %></p>
                        </div>
                      </div>
                      <div>
                        <button
                          class="button delete-button"
                          data-id="<%- item2020.id %>"
                          style="margin-bottom: 10px"
                        >
                          <i class="fa-solid fa-trash-can"></i>
                        </button>
                        <a
                          class="edit-button"
                          href="/dash/edit/<%- item2020.id %>"
                        >
                          <i class="fa-solid fa-pen-to-square"></i>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
              <% }); %>
            </ul>
          </div>
        </section>

        <section
          class="section post post-phone"
          aria-label="post"
          id="recent-post"
        >
          <div class="container">
            <h2 class="headline headline-2 section-title">
              <span class="span">2021 Data</span>
            </h2>

            <p class="section-text">
              كل من حصل على مركز بمسابقات الكرازه لعام 2021
            </p>

            <ul class="post-list">
              <% yearData.arr2021.forEach(item2021 => { %>
              <li>
                <div class="card post-card">
                  <figure
                    class="card-banner img-holder"
                    style="--width: 600; --height: 600"
                  >
                    <img
                      src="<%- item2021.image || '/images/blank-photo.png'  %>"
                      width="600"
                      height="600"
                      loading="lazy"
                      alt="<%- item2021.name %>"
                      class="img-cover"
                      onerror="replaceWithErrorImage(this)"
                    />
                  </figure>

                  <div class="card-content">
                    <div class="card-wrapper">
                      <div class="card-tag">
                        <p class="span hover-2"><%- item2021.rank %></p>
                      </div>
                    </div>

                    <h3 class="headline headline-3">
                      <a
                        href="<%- item2021.social %>"
                        class="card-title hover-2"
                        style="font-family: var(--fontFamily-noto_sans_arabic)"
                      >
                        <%- item2021.name %>
                      </a>
                    </h3>

                    <div class="card-wrapper">
                      <div class="profile-card">
                        <div>
                          <p class="card-title"><%- item2021.competition %></p>

                          <p class="card-subtitle"><%- item2021.edu %></p>
                        </div>
                      </div>
                      <div>
                        <button
                          class="button delete-button"
                          data-id="<%- item2021.id %>"
                          style="margin-bottom: 10px"
                        >
                          <i class="fa-solid fa-trash-can"></i>
                        </button>
                        <a
                          class="edit-button"
                          href="/dash/edit/<%- item2021.id %>"
                        >
                          <i class="fa-solid fa-pen-to-square"></i>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
              <% }); %>
            </ul>
          </div>
        </section>

        <section
          class="section post post-phone"
          aria-label="post"
          id="recent-post"
        >
          <div class="container">
            <h2 class="headline headline-2 section-title">
              <span class="span">2022 Data</span>
            </h2>

            <p class="section-text">
              كل من حصل على مركز بمسابقات الكرازه لعام 2022
            </p>

            <ul class="post-list">
              <% yearData.arr2022.forEach(item2022 => { %>
              <li>
                <div class="card post-card">
                  <figure
                    class="card-banner img-holder"
                    style="--width: 600; --height: 600"
                  >
                    <img
                      src="<%- item2022.image || '/images/blank-photo.png'  %>"
                      width="600"
                      height="600"
                      loading="lazy"
                      alt="<%- item2022.name %>"
                      class="img-cover"
                      onerror="replaceWithErrorImage(this)"
                    />
                  </figure>

                  <div class="card-content">
                    <div class="card-wrapper">
                      <div class="card-tag">
                        <p class="span hover-2"><%- item2022.rank %></p>
                      </div>
                    </div>

                    <h3 class="headline headline-3">
                      <a
                        href="<%- item2022.social %>"
                        class="card-title hover-2"
                        style="font-family: var(--fontFamily-noto_sans_arabic)"
                      >
                        <%- item2022.name %>
                      </a>
                    </h3>

                    <div class="card-wrapper">
                      <div class="profile-card">
                        <div>
                          <p class="card-title"><%- item2022.competition %></p>

                          <p class="card-subtitle"><%- item2022.edu %></p>
                        </div>
                      </div>
                      <div>
                        <button
                          class="button delete-button"
                          data-id="<%- item2022.id %>"
                          style="margin-bottom: 10px"
                        >
                          <i class="fa-solid fa-trash-can"></i>
                        </button>
                        <a
                          class="edit-button"
                          href="/dash/edit/<%- item2022.id %>"
                        >
                          <i class="fa-solid fa-pen-to-square"></i>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
              <% }); %>
            </ul>
          </div>
        </section>

        <section
          class="section post post-phone"
          aria-label="post"
          id="recent-post"
        >
          <div class="container">
            <h2 class="headline headline-2 section-title">
              <span class="span">2023 Data</span>
            </h2>

            <p class="section-text">
              كل من حصل على مركز بمسابقات الكرازه لعام 2023
            </p>

            <ul class="post-list">
              <% yearData.arr2023.forEach(item2023 => { %>
              <li>
                <div class="card post-card">
                  <figure
                    class="card-banner img-holder"
                    style="--width: 600; --height: 600"
                  >
                    <img src="<%- item2023.image || '/images/blank-photo.png'
                    %>" width="600" height="600" loading="lazy" alt="<%-
                    item2023.name %>"" class="img-cover"
                    onerror="replaceWithErrorImage(this)" />
                  </figure>

                  <div class="card-content">
                    <div class="card-wrapper">
                      <div class="card-tag">
                        <p class="span hover-2"><%- item2023.rank %></p>
                      </div>
                    </div>

                    <h3 class="headline headline-3">
                      <a
                        href="<%- item2023.social %>"
                        class="card-title hover-2"
                        style="font-family: var(--fontFamily-noto_sans_arabic)"
                      >
                        <%- item2023.name %>
                      </a>
                    </h3>

                    <div class="card-wrapper">
                      <div class="profile-card">
                        <div>
                          <p class="card-title"><%- item2023.competition %></p>

                          <p class="card-subtitle"><%- item2023.edu %></p>
                        </div>
                      </div>
                      <div>
                        <button
                          class="button delete-button"
                          data-id="<%- item2023.id %>"
                          style="margin-bottom: 10px"
                        >
                          <i class="fa-solid fa-trash-can"></i>
                        </button>
                        <a
                          class="edit-button"
                          href="/dash/edit/<%- item2023.id %>"
                        >
                          <i class="fa-solid fa-pen-to-square"></i>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
              <% }); %>
            </ul>
          </div>
        </section>
      </article>
    </main>

    <%- include("../components/footer") %>

    <div>
      <a
        href="#top"
        class="back-top-btn"
        aria-label="back to top"
        data-back-top-btn
      >
        <ion-icon
          name=" yearData.arrow-up-outline"
          aria-hidden="true"
        ></ion-icon>
      </a>
      <a
        href="/dash/add"
        class="add-btn"
        aria-label="Add New Data"
        data-back-top-btn
      >
        <i class="fa-solid fa-plus"></i>
      </a>
    </div>

    <!-- Custom JavaScript -->
    <%- include("../components/javascript") %>

    <!-- Ion Icons -->
    <script
      type="module"
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
    ></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script>
      document.querySelectorAll(".button").forEach((button) =>
        button.addEventListener("click", (e) => {
          if (!button.classList.contains("delete")) {
            button.classList.add("delete");
            setTimeout(() => button.classList.remove("delete"), 3200);
          }
          e.preventDefault();
        })
      );

      // Attach event listeners to delete buttons
      const deleteButtons = document.querySelectorAll(".delete-button");
      deleteButtons.forEach((button) => {
        button.addEventListener("click", async (event) => {
          const id = event.currentTarget.dataset.id;

          try {
            $.ajax({
              url: `/dash/${id}?_=${Date.now()}`,
              method: "DELETE",
              success: function (response) {
                if (response.status === "success") {
                  alert("Item deleted successfully.");
                  // Navigate to the same page after successful delete
                  window.location.href = window.location.href;
                } else {
                  console.error("Failed to delete data.");
                }
              },
            });
          } catch (error) {
            console.error("An error occurred:", error);
          }
        });
      });
    </script>
  </body>
</html>
