<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- Other meta tags and information go here -->

  <!-- Open Graph meta tags -->
  <meta property="og:title" content="<%= title %>" />
  <meta property="og:description" content="<%= description %>" />
  <meta property="og:image" content="./the website.png" />
  <meta property="og:url" content="https://st-george.repl.co/" />

  <!-- Twitter Card meta tags (optional, for better Twitter sharing) -->
  <meta name="twitter:card" content="./the website.png" />
  <meta name="twitter:title" content="<%= title %>" />
  <meta name="twitter:description" content="<%= description %>" />
  <meta name="twitter:image" content="./the website.png" />

  <!-- 
    - primary meta tags
  -->
  <title><%= title %></title>
  <meta name="title" content=" <%= title %> " />
  <meta name="description" content=" <%= description %>  " />

  <!-- 
    - favicon
  -->
  <link rel="shortcut icon" href="./favicon.png" type="image/png" />

  <!-- 
    - google font link
  -->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;500;600;700;800&display=swap"
    rel="stylesheet"
  />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Noto+Sans+Arabic:wght@100;200;300;400;500;600;700;800;900&display=swap"
    rel="stylesheet"
  />

  <!-- 
    - custom css link
  -->
  <link rel="stylesheet" href="/css/style.css" />
  <link id="themeStylesheet" rel="stylesheet" href="/css/dark.css" />

  <!-- 
    - Font Awesome
   -->
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
  />
  <!-- 
    - axios
   -->
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
