<!DOCTYPE html>
<html lang="en">
  <%- include("./components/head") %>

  <body id="top" class="light">
    <!-- 
    - #HEADER
  -->
    <%- include("./components/header") %>

    <ul class="grid-list">
      <% arr2021.forEach(item2021 => { %>
      <li>
        <div class="recent-post-card">
          <figure
            class="card-banner img-holder"
            style="--width: 271; --height: 258"
          >
            <img
              src="<%- item2021.image || '/images/404.png' %>"
              width="271"
              height="258"
              loading="lazy"
              alt="<%- item2021.name %>"
              class="img-cover"
            />
          </figure>
          

          <div class="card-content">
            <a href="/d<%- item2021.date %>" class="card-badge"
              >Year <%- item2021.date %></a
            >

            <h3 class="headline headline-3 card-title">
              <a href="<%- item2021.social %>" class="link hover-2"
                ><%- item2021.name %></a
              >
            </h3>

            <p class="card-text">
              <span class="card-text-span">Competition:</span> <%-
              item2021.competition %> <br />
              <span class="card-text-span">Education:</span> <%- item2021.edu %>
            </p>

            <div class="card-wrapper">
              <div class="card-tag"></div>

              <div class="wrapper">
                <ion-icon name="time-outline" aria-hidden="true"></ion-icon>

                <span class="span"><%- item2021.date %></span>
              </div>
            </div>
          </div>
        </div>
      </li>
      <% }); %>
    </ul>

    <!-- 
    - #FOOTER
  -->
    <%- include("./components/footer") %>

    <!-- 
    - #BACK TO TOP
  -->
    <a
      href="#top"
      class="back-top-btn"
      aria-label="back to top"
      data-back-top-btn
    >
      <ion-icon name="arrow-up-outline" aria-hidden="true"></ion-icon>
    </a>

    <!-- 
    - custom js link
  -->
    <script src="/js/script.js"></script>
    <script src="/js/theme.js"></script>

    <!-- 
  - ion icon link
-->
    <script
      type="module"
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
    ></script>
  </body>
</html>
