<!DOCTYPE html>
<html lang="en">
  <%- include("./components/head") %>

  <body id="top" class="light">
    <%- include("./components/header") %>

    <main>
      <article>
        <section
          class="section post post-phone"
          aria-label="post"
          id="recent-post"
        >
          <div class="container">
            <h2 class="headline headline-2 section-title">
              <span class="span">Edit <%= item.name %></span>
            </h2>
            <form
              method="POST"
              action="/dash/edit/<%- item.id %>"
              enctype="multipart/form-data"
            >
              <figure
                class="card-banner img-holder"
                style="--width: 250; --height: 250; border-radius: 10%; width: 250px; height: 250px;"
                
              >
                <img
                  src="<%- item.image || '/images/blank-photo.png' %>"
                  width="250"
                  height="250"
                  loading="lazy"
                  alt="<%- item.name %>"
                  class="img-cover"
                  onerror="replaceWithErrorImage(this)"
                />
              </figure>
              <div class="input-wrapper">
                <input
                  type="text"
                  id="name"
                  name="name"
                  value="<%- item.name %>"
                  class="input-field"
                  placeholder="Name:"
                /><br />
              </div>

              <div class="input-wrapper">
                <input
                  type="text"
                  id="social"
                  name="social"
                  value="<%- item.social %>"
                  class="input-field"
                  placeholder="Facebook link:"
                /><br />
              </div>

              <label for="image" class="drop-container" id="dropcontainer">
                <span class="drop-title">Drop image here</span>
                or
                <input
                  type="file"
                  id="image"
                  value="<%- item.image %>"
                  name="image"
                  accept=".png, .jpg, .jpeg"
                />
              </label>

              <div class="input-wrapper">
                <input
                  type="text"
                  id="rank"
                  name="rank"
                  value="<%- item.rank %>"
                  class="input-field"
                  placeholder="his/her Rank:"
                /><br />
              </div>

              <div class="input-wrapper">
                <input
                  type="text"
                  id="competition"
                  value="<%- item.competition %>"
                  name="competition"
                  class="input-field"
                  placeholder="Competition:"
                /><br />
              </div>

              <div class="input-wrapper">
                <input
                  type="date"
                  id="date"
                  value="<%- item.date %>"
                  name="date"
                  class="input-field"
                  placeholder="Date:"
                /><br />
              </div>

              <div class="input-wrapper">
                <input
                  type="text"
                  id="edu"
                  value="<%- item.edu %>"
                  name="edu"
                  class="input-field"
                  placeholder="Education:"
                /><br />
              </div>

              <div>
                <button class="btn btn-primary" type="submit">
                  Edit Data
                  <ion-icon name="arrow-forward" aria-hidden="true"></ion-icon>
                </button>
              </div>
            </form>
          </div>
        </section>
      </article>
    </main>

    <%- include("./components/footer") %>

    <a
      href="#top"
      class="back-top-btn"
      aria-label="back to top"
      data-back-top-btn
    >
      <ion-icon name="arrow-up-outline" aria-hidden="true"></ion-icon>
    </a>

    <!-- Custom JavaScript -->
    <%- include("./components/javascript") %>

    <!-- Ion Icons -->
    <script
      type="module"
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
    ></script>
  </body>
</html>
