<!DOCTYPE html>
<html lang="en">
  <%- include("./components/head") %>

  <body id="top" class="light">
    <!-- 
    - #HEADER
  -->
    <%- include("./components/header", { isPersistentLoggedIn: isPersistentLoggedIn, dashboardLoginPersistentValue: dashboardLoginPersistentValue }) %>

    <!-- 
    - Main
   -->
    <main>
      <article>
        <!-- 
          - #church
        -->
        <section class="church" id="home" aria-label="home">
          <div class="container">
            <div class="church-content">
              <p class="church-subtitle">Hello Everyone!</p>

              <h1 class="headline headline-1 section-title">
                We are <span class="span">St.George Church</span>
              </h1>
              <div class="input-wrapper"></div>
            </div>

            <div class="church-banner">
              <img
                src="/images/pattern-2.svg"
                width="27"
                height="26"
                alt="shape"
                class="shape shape-1"
              />

              <img
                src="/images/pattern-3.svg"
                width="27"
                height="26"
                alt="shape"
                class="shape shape-2"
              />
            </div>

            <img
              src="/images/shadow-1.svg"
              width="500"
              height="800"
              alt=""
              class="church-bg church-bg-1"
            />

            <img
              src="/images/shadow-2.svg"
              width="500"
              height="500"
              alt=""
              class="church-bg church-bg-2"
            />
          </div>
        </section>

        <!-- 
          - #winners
        -->
        <section
          class="topWinners"
          id="topWinners"
          aria-labelledby="topic-label"
        >
          <div class="container">
            <div class="card topic-card">
              <div class="card-content">
                <h2
                  class="headline headline-2 section-title card-title"
                  id="topic-label"
                >
                  Some Winners
                </h2>

                <p class="card-text">
                  أعلى 5 مراكز فى كل مسابقه للاعوام ال 5 السابقه من 2022 إلى
                  2018
                </p>

                <div class="btn-group">
                  <button
                    class="btn-icon"
                    aria-label="previous"
                    data-slider-prev
                  >
                    <ion-icon name="arrow-back" aria-hidden="true"></ion-icon>
                  </button>

                  <button class="btn-icon" aria-label="next" data-slider-next>
                    <ion-icon
                      name="arrow-forward"
                      aria-hidden="true"
                    ></ion-icon>
                  </button>
                </div>
              </div>

              <div class="slider" data-slider>
                <ul class="slider-list" data-slider-container>
                  <% arr2022.forEach(item => { %>
                  <li class="slider-item">
                    <a href="  <%- item.social %> " class="slider-card">
                      <figure
                        class="slider-banner img-holder"
                        style="--width: 507; --height: 618"
                      >
                        <img
                          src="<%- item.image || '/images/blank-photo.png' %>"
                          width="507"
                          height="618"
                          loading="lazy"
                          alt="<%- item.name %>"
                          class="img-cover"
                          onerror="replaceWithErrorImage(this)"
                        />
                      </figure>

                      <div class="slider-content">
                        <span class="slider-title"> <%- item.name %> </span>

                        <p class="slider-subtitle">
                          <%- item.rank %> <br />
                          <%- item.competition %> <br />
                          <%- item.date %>
                        </p>
                      </div>
                    </a>
                  </li>

                  <% }); %>

                  <% arr2021.forEach(item => { %>
                  <li class="slider-item">
                    <a href="  <%- item.social %> " class="slider-card">
                      <figure
                        class="slider-banner img-holder"
                        style="--width: 507; --height: 618"
                      >
                        <img
                          src="<%- item.image || '/images/blank-photo.png' %>"
                          width="507"
                          height="618"
                          loading="lazy"
                          alt="<%- item.name %>"
                          class="img-cover"
                          onerror="replaceWithErrorImage(this)"
                        />
                      </figure>

                      <div class="slider-content">
                        <span class="slider-title"> <%- item.name %> </span>

                        <p class="slider-subtitle">
                          <%- item.rank %> <br />
                          <%- item.competition %> <br />
                          <%- item.date %>
                        </p>
                      </div>
                    </a>
                  </li>

                  <% }); %>
                </ul>
              </div>
            </div>
          </div>
        </section>

        <!-- 
          - #RECENT POSTS
        -->
        <section
          class="section feature"
          aria-label="Recent Posts"
          id="recent-post"
        >
          <div class="container">
            <h2 class="headline headline-2 section-title">
              <span class="span">Recent Posts</span>
            </h2>

            <p class="section-text">Recently featured and highly rated posts</p>

            <ul class="feature-list">
              <li>
                <div class="card feature-card">
                  <figure
                    class="card-banner img-holder"
                    style="--width: 1602; --height: 903"
                  >
                    <img
                      src="/images/post-1.jpg"
                      width="1602"
                      height="903"
                      loading="lazy"
                      alt="2023 بدايه اسبوع الآلام لسنه"
                      class="img-cover"
                    />
                  </figure>

                  <div class="card-content">
                    <div class="card-wrapper">
                      <div class="card-Year">
                        <a href="#23" class="span hover-2" id="23">#23</a>
                      </div>

                      <div class="wrapper">
                        <ion-icon
                          name="time-outline"
                          aria-hidden="true"
                        ></ion-icon>

                        <span class="span">1 min rear</span>
                      </div>
                    </div>

                    <h3 class="headline headline-3">
                      <a
                        href="https://www.facebook.com/photo.php?fbid=756191039341787&set=a.100794241548140&type=3"
                        class="card-title hover-2"
                        style="font-family: var(--fontFamily-noto_sans_arabic)"
                      >
                        بدايه اسبوع الآلام لسنه 2023
                      </a>
                    </h3>

                    <div class="card-wrapper">
                      <div class="profile-card">
                        <img
                          src="/images/author-1.jpg"
                          width="48"
                          height="48"
                          loading="lazy"
                          alt="St.George"
                          class="profile-banner"
                        />

                        <div>
                          <p class="card-title">St.George Port Said</p>

                          <p class="card-subtitle">10 Apr 2023</p>
                        </div>
                      </div>

                      <a
                        href="https://www.facebook.com/photo.php?fbid=756191039341787&set=a.100794241548140&type=3"
                        class="card-btn"
                        >Read more</a
                      >
                    </div>
                  </div>
                </div>
              </li>

              <li>
                <div class="card feature-card">
                  <figure
                    class="card-banner img-holder"
                    style="--width: 1602; --height: 903"
                  >
                    <img
                      src="/images/featured-2.jpg"
                      width="1602"
                      height="903"
                      loading="lazy"
                      alt="ثالث يوم من بدايه اسبوع الآلام 2023"
                      class="img-cover"
                    />
                  </figure>

                  <div class="card-content">
                    <div class="card-wrapper">
                      <div class="card-Year">
                        <a href="#23" class="span hover-2" id="23">#23</a>
                      </div>

                      <div class="wrapper">
                        <ion-icon
                          name="time-outline"
                          aria-hidden="true"
                        ></ion-icon>

                        <span class="span">6 mins read</span>
                      </div>
                    </div>

                    <h3 class="headline headline-3">
                      <a
                        href="https://www.facebook.com/photo?fbid=616573820514181&set=pb.100064847042124.-2207520000."
                        class="card-title hover-2"
                        style="font-family: var(--fontFamily-noto_sans_arabic)"
                      >
                        ثالث يوم من بدايه اسبوع الآلام 2023
                      </a>
                    </h3>

                    <div class="card-wrapper">
                      <div class="profile-card">
                        <img
                          src="/images/author-1.jpg"
                          width="48"
                          height="48"
                          loading="lazy"
                          alt="St.George"
                          class="profile-banner"
                        />

                        <div>
                          <p class="card-title">st.George Port Said</p>

                          <p class="card-subtitle">13 Apr 2023</p>
                        </div>
                      </div>

                      <a
                        href="https://www.facebook.com/photo?fbid=616573820514181&set=pb.100064847042124.-2207520000."
                        class="card-btn"
                        >Read more</a
                      >
                    </div>
                  </div>
                </div>
              </li>

              <li>
                <div class="card feature-card">
                  <figure
                    class="card-banner img-holder"
                    style="--width: 1602; --height: 903"
                  >
                    <img
                      src="/images/featured-3.jpg"
                      width="1602"
                      height="903"
                      loading="lazy"
                      alt="حضور سيدنا لليوم الثالث من أيام أسبوع الآلام 2023"
                      class="img-cover"
                    />
                  </figure>

                  <div class="card-content">
                    <div class="card-wrapper">
                      <div class="card-Year">
                        <a href="#23" class="span hover-2">#23</a>
                      </div>

                      <div class="wrapper">
                        <ion-icon
                          name="time-outline"
                          aria-hidden="true"
                        ></ion-icon>

                        <span class="span">6 mins read</span>
                      </div>
                    </div>

                    <h3 class="headline headline-3">
                      <a
                        href="https://www.facebook.com/saint.george.portsaid/posts/pfbid02ffTNU8UEJhhGhGWqdQEWwjbYpNHM4QxQpbadhWStUKjz591FBCFVEx2itbCdePdQl"
                        class="card-title hover-2"
                        style="font-family: var(--fontFamily-noto_sans_arabic)"
                      >
                        حضور سيدنا لليوم الثالث من أيام أسبوع الآلام
                      </a>
                    </h3>

                    <div class="card-wrapper">
                      <div class="profile-card">
                        <img
                          src="/images/author-1.jpg"
                          width="48"
                          height="48"
                          loading="lazy"
                          alt="St.George"
                          class="profile-banner"
                        />

                        <div>
                          <p class="card-title">St.George Port Said</p>

                          <p class="card-subtitle">13 Apr 2023</p>
                        </div>
                      </div>

                      <a
                        href="https://www.facebook.com/saint.george.portsaid/posts/pfbid02ffTNU8UEJhhGhGWqdQEWwjbYpNHM4QxQpbadhWStUKjz591FBCFVEx2itbCdePdQl"
                        class="card-btn"
                        >Read more</a
                      >
                    </div>
                  </div>
                </div>
              </li>

              <li>
                <div class="card feature-card">
                  <figure
                    class="card-banner img-holder"
                    style="--width: 1602; --height: 903"
                  >
                    <img
                      src="/images/featured-4.jpg"
                      width="1602"
                      height="903"
                      loading="lazy"
                      alt="افضل أيام السنه, يوم الجمعه العظيمه"
                      class="img-cover"
                    />
                  </figure>

                  <div class="card-content">
                    <div class="card-wrapper">
                      <div class="card-Year">
                        <a href="#" class="span hover-2">#23</a>
                      </div>

                      <div class="wrapper">
                        <ion-icon
                          name="time-outline"
                          aria-hidden="true"
                        ></ion-icon>

                        <span class="span">6 mins read</span>
                      </div>
                    </div>

                    <h3 class="headline headline-3">
                      <a
                        href="https://www.facebook.com/photo.php?fbid=617119087126321&set=pb.100064847042124.-2207520000.&type=3"
                        class="card-title hover-2"
                        style="font-family: var(--fontFamily-noto_sans_arabic)"
                      >
                        افضل أيام السنه, يوم الجمعه العظيمه
                      </a>
                    </h3>

                    <div class="card-wrapper">
                      <div class="profile-card">
                        <img
                          src="/images/author-1.jpg"
                          width="48"
                          height="48"
                          loading="lazy"
                          alt="St.George"
                          class="profile-banner"
                        />

                        <div>
                          <p class="card-title">St.George Port Said</p>

                          <p class="card-subtitle">14 Apr 2023</p>
                        </div>
                      </div>

                      <a
                        href="https://www.facebook.com/photo.php?fbid=617119087126321&set=pb.100064847042124.-2207520000.&type=3"
                        class="card-btn"
                        >Read more</a
                      >
                    </div>
                  </div>
                </div>
              </li>

              <li>
                <div class="card feature-card">
                  <figure
                    class="card-banner img-holder"
                    style="--width: 1602; --height: 903"
                  >
                    <img
                      src="/images/featured-5.jpg"
                      width="1602"
                      height="903"
                      loading="lazy"
                      alt="يوم الجمعه العظيمه لعام 2023"
                      class="img-cover"
                    />
                  </figure>

                  <div class="card-content">
                    <div class="card-wrapper">
                      <div class="card-Year">
                        <a href="#" class="span hover-2">#23</a>
                      </div>

                      <div class="wrapper">
                        <ion-icon
                          name="time-outline"
                          aria-hidden="true"
                        ></ion-icon>

                        <span class="span">6 mins read</span>
                      </div>
                    </div>

                    <h3 class="headline headline-3">
                      <a
                        href="https://www.facebook.com/photo.php?fbid=617119337126296&set=pb.100064847042124.-2207520000.&type=3"
                        class="card-title hover-2"
                        style="font-family: var(--fontFamily-noto_sans_arabic)"
                      >
                        يوم الجمعه العظيمه لعام 2023
                      </a>
                    </h3>

                    <div class="card-wrapper">
                      <div class="profile-card">
                        <img
                          src="/images/author-1.jpg"
                          width="48"
                          height="48"
                          loading="lazy"
                          alt="St.George"
                          class="profile-banner"
                        />

                        <div>
                          <p class="card-title">St.George Port Said</p>

                          <p class="card-subtitle">14 Apr 2023</p>
                        </div>
                      </div>

                      <a
                        href="https://www.facebook.com/photo.php?fbid=617119337126296&set=pb.100064847042124.-2207520000.&type=3"
                        class="card-btn"
                        >Read more</a
                      >
                    </div>
                  </div>
                </div>
              </li>
            </ul>

            <a
              href="https://www.facebook.com/saint.george.portsaid"
              class="btn btn-secondary"
            >
              <span class="span">Show More Posts</span>

              <ion-icon name="arrow-forward" aria-hidden="true"></ion-icon>
            </a>
          </div>

          <img
            src="/images/shadow-3.svg"
            width="500"
            height="1500"
            loading="lazy"
            alt=""
            class="feature-bg"
          />
        </section>

        <!-- 
          - #POPULAR Years
        -->
        <section class="Years" aria-labelledby="Year-label" id="years">
          <div class="container">
            <h2 class="headline headline-2 section-title" id="Year-label">
              <span class="span">Years</span>
            </h2>

            <p class="section-text">Choose where you want to go Sir...</p>

            <ul class="grid-list">
              <li>
                <a href="/year/2023" class="card Year-btn">
                  <p class="btn-text">2023</p>
                </a>
              </li>

              <li>
                <a href="/year/2022" class="card Year-btn">
                  <p class="btn-text">2022</p>
                </a>
              </li>

              <li>
                <a href="/year/2021" class="card Year-btn">
                  <p class="btn-text">2021</p>
                </a>
              </li>

              <li>
                <a href="/year/2020" class="card Year-btn">
                  <p class="btn-text">2020</p>
                </a>
              </li>

              <li>
                <a href="/year/2019" class="card Year-btn">
                  <p class="btn-text">2019</p>
                </a>
              </li>

              <li>
                <a href="/year/2018" class="card Year-btn">
                  <p class="btn-text">2018</p>
                </a>
              </li>
            </ul>
          </div>
        </section>

        <!-- 
          - OUR FATHERS
         -->
        <section
          class="section post post-phone"
          aria-label="post"
          id="recent-post"
        >
          <div class="container">
            <h2 class="headline headline-2 section-title">
              <span class="span">Our Fathers</span>
            </h2>

            <p class="section-text">All our fathers in our church</p>

            <ul class="post-list">
              <% (arrFathers || []).forEach(itemFather => { %>
              <li>
                <div class="card post-card">
                  <figure
                    class="card-banner img-holder"
                    style="--width: 600; --height: 600"
                  >
                    <img
                      src="<%- itemFather.image || '/images/blank-photo.png' %>"
                      width="600"
                      height="600"
                      loading="lazy"
                      alt="<%- itemFather.name %>"
                      class="img-cover"
                      onerror="replaceWithErrorImage(this)"
                    />
                  </figure>

                  <div class="card-content">
                    <div class="card-wrapper"></div>

                    <h3 class="headline headline-3">
                      <a
                        href="<%- itemFather.social %>"
                        class="card-title hover-2"
                        style="font-family: var(--fontFamily-noto_sans_arabic)"
                      >
                        <%- itemFather.name %>
                      </a>
                    </h3>
                  </div>
                </div>
              </li>
              <% }); %>
            </ul>
          </div>

          <img
            src="/images/shadow-3.svg"
            width="500"
            height="1500"
            loading="lazy"
            alt=""
            class="post-bg"
          />
        </section>
      </article>
    </main>

    <!-- 
    - #FOOTER
  -->
    <%- include("./components/footer") %>

    <!-- 
    - custom js link
  -->
    <%- include("./components/javascript") %>

    <!-- 
  - ion icon link
-->
    <script
      type="module"
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
    ></script>
  </body>
</html>
