<!DOCTYPE html>
<html lang="en">
  <%- include("./components/head") %>

  <body id="top" class="light">
    <!-- 
    - #HEADER
  -->
    <%- include("./components/header", { isPersistentLoggedIn: isPersistentLoggedIn, dashboardLoginPersistentValue: dashboardLoginPersistentValue }) %>

    <!-- 
    - Main
   -->
    <main>
      <article>
        <section
          class="section feature feature-phone"
          aria-label="feature"
          id="recent-post"
        >
          <div class="container">
            <h2 class="headline headline-2 section-title">
              <span class="span"><%- year %> Data</span>
            </h2>

            <p class="section-text">
              كل من حصل على مركز بمسابقات الكرازه لعام <%- year %>
            </p>

            <ul class="feature-list">
              <% arr.forEach(item => { %>
              <li>
                <div class="card feature-card">
                  <figure
                    class="card-banner img-holder"
                    style="--width: 600; --height: 600"
                  >
                    <img
                      src="<%- item.image || '/images/blank-photo.png' %>"
                      width="600"
                      height="600"
                      loading="lazy"
                      alt="<%- item.name %>"
                      class="img-cover"
                      onerror="replaceWithErrorImage(this)"
                    />
                  </figure>

                  <div class="card-content">
                    <div class="card-wrapper">
                      <div class="card-tag">
                        <p class="span hover-2"><%- item.rank %></p>
                      </div>
                    </div>

                    <h3 class="headline headline-3">
                      <a
                        href="/data/<%- item.id %>"
                        class="card-title hover-2"
                        style="font-family: var(--fontFamily-noto_sans_arabic)"
                      >
                        <%- item.name %>
                      </a>
                    </h3>

                    <div class="card-wrapper">
                      <div class="profile-card">
                        <div>
                          <p class="card-subtitle"><%- item.date %></p>
                          <p class="card-title"><%- item.competition %></p>
                          <p class="card-subtitle"><%- item.edu %></p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
              <% }); %>
            </ul>
          </div>

          <img
            src="/images/shadow-3.svg"
            width="500"
            height="1500"
            loading="lazy"
            alt=""
            class="feature-bg"
          />
        </section>
      </article>
    </main>

    <!-- 
    - #FOOTER
  -->
    <%- include("./components/footer") %>

    <!-- 
    - custom js link
  -->
    <%- include("./components/javascript") %>

    <!-- 
  - ion icon link
-->
    <script
      type="module"
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
    ></script>
  </body>
</html>
